go 1.19

use (
	./airport-robot
	./all-your-base
	./allergies
	./anagram
	./animal-magic
	./annalyns-infiltration
	./armstrong-numbers
	./atbash-cipher
	./bank-account
	./bird-watcher
	./blackjack
	./booking-up-for-beauty
	./card-tricks
	./cars-assemble
	./census
	./chessboard
	./clock
	./crypto-square
	./difference-of-squares
	./diffie-hellman
	./election-day
	./elons-toys
	./error-handling
	./etl
	./expenses
	./grains
	./gross-store
	./hamming
	./hello-world
	./interest-is-interesting
	./isbn-verifier
	./isogram
	./largest-series-product
	./lasagna
	./leap
	./logs-logs-logs
	./luhn
	./matrix
	./meetup
	./meteorology
	./need-for-speed
	./nth-prime
	./nucleotide-count
	./pangram
	./parallel-letter-frequency
	./parsing-log-files
	./party-robot
	./perfect-numbers
	./phone-number
	./prime-factors
	./protein-translation
	./proverb
	./pythagorean-triplet
	./raindrops
	./reverse-string
	./rna-transcription
	./robot-name
	./roman-numerals
	./rotational-cipher
	./run-length-encoding
	./scrabble-score
	./secret-handshake
	./sieve
	./simple-cipher
	./sorting-room
	./space-age
	./strain
	./sum-of-multiples
	./the-farm
	./tournament
	./tree-building
	./triangle
	./twelve-days
	./two-fer
	./variable-length-quantity
	./vehicle-purchase
	./weather-forecast
	./welcome-to-tech-palace
	./word-count
)
